.currency-image {
  margin: 80px;
  border: 5px solid black;
}

p {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: dimgray;
  text-align: center;
}
